In [854]:
import requests
import json
import pandas as pd 
import re  
import numpy as np
import os

# Japan
- Earthquake Research Institute, University of Tokyo https://www.eri.u-tokyo.ac.jp/
- - Para fines distintos de la investigación académica Por favor, póngase en contacto con cada centro u observatorio para más detalles. Sin embargo, comercial No se pueden utilizar objetivos.
- Geological Survey of Japan - GSJ https://www.gsj.jp/en/
- Japan Meteorological Agency - JMA https://www.jma.go.jp/jma/indexe.html
- Meteorological Research Institute - Japan Meteorological Agency (JMA) http://www.mri-jma.go.jp/index_en.html
- National Research Institute for Earth Science and Disaster Prevention (NIED), Japan http://www.bosai.go.jp/
- Kyoshin Network (K-NET) - strong motion http://www.kyoshin.bosai.go.jp/
- F-Net - broadband http://www.fnet.bosai.go.jp/
- Hi-Net - short period http://www.hinet.bosai.go.jp/
- Earthquake Prediction Research Center http://wwweprc.eri.u-tokyo.ac.jp/
- Geospatial Information Authority of Japan (GSI) https://www.gsi.go.jp/ENGLISH/
- Japan Marine Science and Technology Center http://www.jamstec.go.jp/
- International Institute of Seismology and Earthquake Engineering - IISEE https://iisee.kenken.go.jp/
- Coordinating Committee for Earthquake Prediction, Japan https://cais.gsi.go.jp/YOCHIREN/index.e.html
- Disaster Prevention Research Institute, Kyoto University http://www.dpri.kyoto-u.ac.jp/en/
- Research Center for Earthquake Prediction https://www.rcep.dpri.kyoto-u.ac.jp/#ja
- Sakurajima Volcano Research Center http://www.svo.dpri.kyoto-u.ac.jp/default_e.html

In [855]:
url= 'https://www.jma.go.jp/bosai/quake/data/list.json'

response =requests.get(url)
data=response.json()
df_japon= pd.DataFrame(data)

In [856]:
folder_path = "../CSV_ORIGINAL"
file_name = "raw_Japon.csv"
file_path = os.path.join(folder_path, file_name)

df_japon.to_csv(file_path, index=False)

In [857]:
df_japon

,ctt,eid,rdt,ttl,ift,ser,at,anm,acd,cod,mag,maxi,int,json,en_ttl,en_anm
0,20230514022205,20230514021840,2023-05-14T02:22:00+09:00,震源・震度情報,発表,1,2023-05-14T02:18:00+09:00,父島近海,911,+26.7+142.6-20000/,4.5,1,"[{'code': '13', 'maxi': '1', 'city': [{'code':...",20230514022205_20230514021840_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of​ Chichijima Island
1,20230514020609,20230514020313,2023-05-14T02:06:00+09:00,震源・震度情報,発表,1,2023-05-14T02:03:00+09:00,トカラ列島近海,798,+29.9+130.0+0/,2.0,1,"[{'code': '46', 'maxi': '1', 'city': [{'code':...",20230514020609_20230514020313_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of Tokara Islands
2,20230514003954,20230514003653,2023-05-14T00:39:00+09:00,震源・震度情報,発表,1,2023-05-14T00:36:00+09:00,トカラ列島近海,798,+29.9+130.0-10000/,2.5,1,"[{'code': '46', 'maxi': '1', 'city': [{'code':...",20230514003954_20230514003653_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of Tokara Islands
3,20230514001415,20230514000911,2023-05-14T00:14:00+09:00,震源・震度情報,発表,1,2023-05-14T00:09:00+09:00,トカラ列島近海,798,+29.9+130.0-10000/,3.1,3,"[{'code': '46', 'maxi': '3', 'city': [{'code':...",20230514001415_20230514000911_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of Tokara Islands
4,20230514001309,20230514000911,2023-05-14T00:13:00+09:00,震源に関する情報,発表,0,2023-05-14T00:09:00+09:00,トカラ列島近海,798,+29.9+130.0-10000/,3.1,,[],20230514001309_20230514000911_VXSE52_0.json,Earthquake Information,Adjacent Sea of Tokara Islands
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,20230415005657,20230415005323,2023-04-15T00:56:00+09:00,震源・震度情報,発表,1,2023-04-15T00:53:00+09:00,釧路沖,190,+42.9+145.5-40000/,3.3,1,"[{'code': '01', 'maxi': '1', 'city': [{'code':...",20230415005657_20230415005323_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Off the Coast of Kushiro
305,20230414192102,20230414190126,2023-04-14T19:21:00+09:00,遠地地震に関する情報,発表,1,2023-04-14T18:55:00+09:00,インドネシア付近,953,-06.0+112.0-590000/,7.0,,[],20230414192102_20230414190126_VXSE5e_1.json,Distant Earthquake Information,Adjacent Indonesia
306,20230414111324,20230414111043,2023-04-14T11:13:00+09:00,震源・震度情報,発表,1,2023-04-14T11:10:00+09:00,福島県沖,289,+37.6+141.5-60000/,3.8,1,"[{'code': '07', 'maxi': '1', 'city': [{'code':...",20230414111324_20230414111043_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Off the Coast of Fukushima Prefecture
307,20230414100754,20230414100425,2023-04-14T10:07:00+09:00,震源・震度情報,発表,1,2023-04-14T10:04:00+09:00,父島近海,911,+27.0+141.5+0/,4.2,1,"[{'code': '13', 'maxi': '1', 'city': [{'code':...",20230414100754_20230414100425_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of​ Chichijima Island
308,20230414031108,20230414030843,2023-04-14T03:11:00+09:00,震源・震度情報,発表,1,2023-04-14T03:08:00+09:00,新潟県中越地方,371,+36.8+138.7-10000/,2.5,2,"[{'code': '20', 'maxi': '2', 'city': [{'code':...",20230414031108_20230414030843_VXSE5k_1.json,Earthquake and Seismic Intensity Information,"Chuetsu, Niigata Prefecture"

In [858]:
df_japon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ctt     309 non-null    object
 1   eid     309 non-null    object
 2   rdt     309 non-null    object
 3   ttl     309 non-null    object
 4   ift     309 non-null    object
 5   ser     309 non-null    object
 6   at      309 non-null    object
 7   anm     309 non-null    object
 8   acd     309 non-null    object
 9   cod     309 non-null    object
 10  mag     309 non-null    object
 11  maxi    309 non-null    object
 12  int     309 non-null    object
 13  json    309 non-null    object
 14  en_ttl  309 non-null    object
 15  en_anm  309 non-null    object
dtypes: object(16)
memory usage: 38.8+ KB

In [859]:
df_japon.isnull().sum()

ctt       0
eid       0
rdt       0
ttl       0
ift       0
ser       0
at        0
anm       0
acd       0
cod       0
mag       0
maxi      0
int       0
json      0
en_ttl    0
en_anm    0
dtype: int64

Cambio el formato de la fecha de la informacion del sismo: rdt

In [860]:
#Columna rdt
# Convertir la columna 'fecha' a un objeto datetime
df_japon['rdt'] = pd.to_datetime(df_japon['rdt'])

# Eliminar la zona horaria de la columna 'fecha'
df_japon['rdt'] = df_japon['rdt'].dt.tz_localize(None)

# Convertir la columna 'fecha' de vuelta a un formato de cadena si es necesario
df_japon['rdt'] = df_japon['rdt'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [861]:
#Columna at 
df_japon['at'] = pd.to_datetime(df_japon['at'])

# Eliminar la zona horaria de la columna 'fecha'
df_japon['at'] = df_japon['at'].dt.tz_localize(None)

# Convertir la columna 'fecha' de vuelta a un formato de cadena si es necesario
df_japon['at'] = df_japon['at'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [862]:
df_japon

,ctt,eid,rdt,ttl,ift,ser,at,anm,acd,cod,mag,maxi,int,json,en_ttl,en_anm
0,20230514022205,20230514021840,2023-05-14 02:22:00,震源・震度情報,発表,1,2023-05-14 02:18:00,父島近海,911,+26.7+142.6-20000/,4.5,1,"[{'code': '13', 'maxi': '1', 'city': [{'code':...",20230514022205_20230514021840_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of​ Chichijima Island
1,20230514020609,20230514020313,2023-05-14 02:06:00,震源・震度情報,発表,1,2023-05-14 02:03:00,トカラ列島近海,798,+29.9+130.0+0/,2.0,1,"[{'code': '46', 'maxi': '1', 'city': [{'code':...",20230514020609_20230514020313_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of Tokara Islands
2,20230514003954,20230514003653,2023-05-14 00:39:00,震源・震度情報,発表,1,2023-05-14 00:36:00,トカラ列島近海,798,+29.9+130.0-10000/,2.5,1,"[{'code': '46', 'maxi': '1', 'city': [{'code':...",20230514003954_20230514003653_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of Tokara Islands
3,20230514001415,20230514000911,2023-05-14 00:14:00,震源・震度情報,発表,1,2023-05-14 00:09:00,トカラ列島近海,798,+29.9+130.0-10000/,3.1,3,"[{'code': '46', 'maxi': '3', 'city': [{'code':...",20230514001415_20230514000911_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of Tokara Islands
4,20230514001309,20230514000911,2023-05-14 00:13:00,震源に関する情報,発表,0,2023-05-14 00:09:00,トカラ列島近海,798,+29.9+130.0-10000/,3.1,,[],20230514001309_20230514000911_VXSE52_0.json,Earthquake Information,Adjacent Sea of Tokara Islands
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,20230415005657,20230415005323,2023-04-15 00:56:00,震源・震度情報,発表,1,2023-04-15 00:53:00,釧路沖,190,+42.9+145.5-40000/,3.3,1,"[{'code': '01', 'maxi': '1', 'city': [{'code':...",20230415005657_20230415005323_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Off the Coast of Kushiro
305,20230414192102,20230414190126,2023-04-14 19:21:00,遠地地震に関する情報,発表,1,2023-04-14 18:55:00,インドネシア付近,953,-06.0+112.0-590000/,7.0,,[],20230414192102_20230414190126_VXSE5e_1.json,Distant Earthquake Information,Adjacent Indonesia
306,20230414111324,20230414111043,2023-04-14 11:13:00,震源・震度情報,発表,1,2023-04-14 11:10:00,福島県沖,289,+37.6+141.5-60000/,3.8,1,"[{'code': '07', 'maxi': '1', 'city': [{'code':...",20230414111324_20230414111043_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Off the Coast of Fukushima Prefecture
307,20230414100754,20230414100425,2023-04-14 10:07:00,震源・震度情報,発表,1,2023-04-14 10:04:00,父島近海,911,+27.0+141.5+0/,4.2,1,"[{'code': '13', 'maxi': '1', 'city': [{'code':...",20230414100754_20230414100425_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of​ Chichijima Island
308,20230414031108,20230414030843,2023-04-14 03:11:00,震源・震度情報,発表,1,2023-04-14 03:08:00,新潟県中越地方,371,+36.8+138.7-10000/,2.5,2,"[{'code': '20', 'maxi': '2', 'city': [{'code':...",20230414031108_20230414030843_VXSE5k_1.json,Earthquake and Seismic Intensity Information,"Chuetsu, Niigata Prefecture"

Dropeo columnas que no voy a utilizar

In [863]:
df_japon.columns

Index(['ctt', 'eid', 'rdt', 'ttl', 'ift', 'ser', 'at', 'anm', 'acd', 'cod',
       'mag', 'maxi', 'int', 'json', 'en_ttl', 'en_anm'],
      dtype='object')

In [864]:
df_japon.drop(columns=['ctt','ift', 'eid', 'ser','ttl', 'at', 'anm', 'acd','json','int', 'en_ttl', 'en_anm'], inplace=True)

Cambio de nombre a las columnas

In [865]:
df_japon = df_japon.rename(columns={"rdt" : "time"}) 
df_japon = df_japon.rename(columns={"eid" : "id"}) 
df_japon = df_japon.rename(columns={"maxi" : "intensidad_max"}) 
df_japon = df_japon.rename(columns={"en_ttl" : "title"}) 
df_japon = df_japon.rename(columns={"en_anm" : "nombre_area_epicentral"})

Extraigo latitud y longitud de cod

In [866]:
print(df_japon['cod'])

0       +26.7+142.6-20000/
1           +29.9+130.0+0/
2       +29.9+130.0-10000/
3       +29.9+130.0-10000/
4       +29.9+130.0-10000/
              ...
304     +42.9+145.5-40000/
305    -06.0+112.0-590000/
306     +37.6+141.5-60000/
307         +27.0+141.5+0/
308     +36.8+138.7-10000/
Name: cod, Length: 309, dtype: object

In [867]:
df_japon['cod'].isnull().sum()

0

In [868]:
df_japon['cod'] = df_japon['cod'].str.replace('/$', '')

C:\Users\Hernan\AppData\Local\Temp\ipykernel_3540\2703035785.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_japon['cod'] = df_japon['cod'].str.replace('/$', '')

In [869]:
df_japon['cod']

0       +26.7+142.6-20000
1           +29.9+130.0+0
2       +29.9+130.0-10000
3       +29.9+130.0-10000
4       +29.9+130.0-10000
              ...
304     +42.9+145.5-40000
305    -06.0+112.0-590000
306     +37.6+141.5-60000
307         +27.0+141.5+0
308     +36.8+138.7-10000
Name: cod, Length: 309, dtype: object

In [870]:
# Crear tres columnas nuevas usando extract()
df_japon[['latitud', 'longitud', 'profundidad']] = df_japon['cod'].str.extract(r'([\+\-]\d+\.\d+)([\+\-]\d+\.\d+)([\+\-]\d+)')

In [871]:
df_japon[['latitud', 'longitud', 'profundidad']].isnull().sum()

latitud        36
longitud       36
profundidad    36
dtype: int64

In [872]:
df_japon.drop(columns='cod', inplace=True)

In [873]:
df_japon

                    time  mag intensidad_max latitud longitud profundidad
0    2023-05-14 02:22:00  4.5              1   +26.7   +142.6      -20000
1    2023-05-14 02:06:00  2.0              1   +29.9   +130.0          +0
2    2023-05-14 00:39:00  2.5              1   +29.9   +130.0      -10000
3    2023-05-14 00:14:00  3.1              3   +29.9   +130.0      -10000
4    2023-05-14 00:13:00  3.1                  +29.9   +130.0      -10000
..                   ...  ...            ...     ...      ...         ...
304  2023-04-15 00:56:00  3.3              1   +42.9   +145.5      -40000
305  2023-04-14 19:21:00  7.0                  -06.0   +112.0     -590000
306  2023-04-14 11:13:00  3.8              1   +37.6   +141.5      -60000
307  2023-04-14 10:07:00  4.2              1   +27.0   +141.5          +0
308  2023-04-14 03:11:00  2.5              2   +36.8   +138.7      -10000

[309 rows x 6 columns]

In [874]:
df_japon.dropna(inplace=True)

In [875]:
df_japon[['latitud', 'longitud', 'profundidad']] = df_japon[['latitud', 'longitud', 'profundidad']].applymap(lambda x: x[1:] if isinstance(x, str) else x)

In [876]:
df_japon[['latitud', 'longitud', 'profundidad']].isnull().sum()

latitud        0
longitud       0
profundidad    0
dtype: int64

In [877]:
df_japon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273 entries, 0 to 308
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   time            273 non-null    object
 1   mag             273 non-null    object
 2   intensidad_max  273 non-null    object
 3   latitud         273 non-null    object
 4   longitud        273 non-null    object
 5   profundidad     273 non-null    object
dtypes: object(6)
memory usage: 14.9+ KB

In [878]:
df_japon[['latitud', 'longitud']] = df_japon[['latitud', 'longitud']].astype(float)
df_japon['profundidad'] = df_japon['profundidad'].astype(int)
df_japon['mag'] = df_japon['mag'].astype(float)

In [879]:
df_japon['intensidad_max'].replace('',0,inplace=True)
diccionario_valores = {'1': '1', '2': '2', '3': '3', '4': '4', '5-': '5', '5+': '5', '6+': '6'}
df_japon['intensidad_max'] = df_japon['intensidad_max'].replace(diccionario_valores)

In [880]:
df_japon['intensidad_max'].unique()

array(['1', '3', 0, '2', '5', '4', '6'], dtype=object)

In [881]:
df_japon['intensidad_max'] = df_japon['intensidad_max'].fillna(0).astype(int)

In [882]:
df_japon

                    time  mag  intensidad_max  latitud  longitud  profundidad
0    2023-05-14 02:22:00  4.5               1     26.7     142.6        20000
1    2023-05-14 02:06:00  2.0               1     29.9     130.0            0
2    2023-05-14 00:39:00  2.5               1     29.9     130.0        10000
3    2023-05-14 00:14:00  3.1               3     29.9     130.0        10000
4    2023-05-14 00:13:00  3.1               0     29.9     130.0        10000
..                   ...  ...             ...      ...       ...          ...
304  2023-04-15 00:56:00  3.3               1     42.9     145.5        40000
305  2023-04-14 19:21:00  7.0               0      6.0     112.0       590000
306  2023-04-14 11:13:00  3.8               1     37.6     141.5        60000
307  2023-04-14 10:07:00  4.2               1     27.0     141.5            0
308  2023-04-14 03:11:00  2.5               2     36.8     138.7        10000

[273 rows x 6 columns]

In [883]:
df_japon['profundidad'] = df_japon['profundidad'] // 1000

In [884]:
df_japon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273 entries, 0 to 308
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   time            273 non-null    object
 1   mag             273 non-null    float64
 2   intensidad_max  273 non-null    int32
 3   latitud         273 non-null    float64
 4   longitud        273 non-null    float64
 5   profundidad     273 non-null    int32
dtypes: float64(3), int32(2), object(1)
memory usage: 12.8+ KB

In [885]:
df_japon.isnull().sum()

time              0
mag               0
intensidad_max    0
latitud           0
longitud          0
profundidad       0
dtype: int64

In [886]:
df_japon

                    time  mag  intensidad_max  latitud  longitud  profundidad
0    2023-05-14 02:22:00  4.5               1     26.7     142.6           20
1    2023-05-14 02:06:00  2.0               1     29.9     130.0            0
2    2023-05-14 00:39:00  2.5               1     29.9     130.0           10
3    2023-05-14 00:14:00  3.1               3     29.9     130.0           10
4    2023-05-14 00:13:00  3.1               0     29.9     130.0           10
..                   ...  ...             ...      ...       ...          ...
304  2023-04-15 00:56:00  3.3               1     42.9     145.5           40
305  2023-04-14 19:21:00  7.0               0      6.0     112.0          590
306  2023-04-14 11:13:00  3.8               1     37.6     141.5           60
307  2023-04-14 10:07:00  4.2               1     27.0     141.5            0
308  2023-04-14 03:11:00  2.5               2     36.8     138.7           10

[273 rows x 6 columns]

In [887]:
folder_path = "../CSV_TRANSFORMADOS"
file_name = "Datos_japon.csv"
file_path = os.path.join(folder_path, file_name)

df_japon.to_csv(file_path, index=False)