# Modelo de predicción sismos EEUU

In [141]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point
from shapely import wkt
from shapely.geometry import polygon

# Lectura de archivos shapefile

Archivo principal (.shp): Este archivo contiene la geometría de los objetos geoespaciales, como puntos, líneas o polígonos, en formato binario.  

Archivo de índice (.shx): Este archivo es un índice de acceso espacial que permite un acceso más rápido a los datos en el archivo principal (.shp). Contiene información sobre la ubicación de cada registro en el archivo principal.  

Archivo de atributos (.dbf): Este archivo almacena los atributos o datos no espaciales asociados a los objetos geoespaciales. Puede contener información como nombres, valores, fechas u otra información relevante.  
 
Archivo de metadatos (.prj): Este archivo almacena la información del sistema de referencia de coordenadas (CRS) utilizado en el archivo Shapefile. El CRS define cómo se interpreta y proyecta la geometría espacial en un sistema de coordenadas específico.

# MAPA CENTRO Y ESTE

In [142]:
#Leo el shapefile con geopandas
gdf_zonasCE = gpd.read_file('Shapefiles\CEUS_1PctIn1Yr_5Hz.shp')

In [143]:
gdf_zonasCE.head()

  ValueRange                                           geometry
0    40 - 60  POLYGON ((-786984.399 3286941.888, -788200.330...
1    30 - 40  POLYGON ((-773036.783 3305960.178, -772758.019...
2    20 - 30  POLYGON ((-766738.972 3314078.833, -765464.024...
3    16 - 20  POLYGON ((-769309.282 3323964.882, -768067.743...
4    12 - 16  POLYGON ((-762096.479 3328986.210, -760806.454...

In [144]:
gdf_zonasCE.ValueRange.unique()

array(['40 - 60', '30 - 40', '20 - 30', '16 - 20', '12 - 16', '8 - 12',
       '6 - 8', '4 - 6', '< 2', '> 80', '60 - 80', '2 - 4'], dtype=object)

In [145]:
gdf_zonasCE.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ValueRange  65 non-null     object
 1   geometry    65 non-null     geometry
dtypes: geometry(1), object(1)
memory usage: 1.1+ KB

In [146]:
# Definir la proyección de destino (proyección geográfica en grados decimales)
crs_destino = 'EPSG:4326'  # WGS84, utilizado comúnmente en coordenadas geográficas

# Convertir el GeoDataFrame de zonas a la proyección de destino
gdf_zonasCE = gdf_zonasCE.to_crs(crs_destino)

# Verificar el nuevo formato de los polígonos
print(gdf_zonasCE['geometry'])

0     POLYGON ((-103.28787 31.11885, -103.30000 31.1...
1     POLYGON ((-103.15886 31.30000, -103.15537 31.2...
2     POLYGON ((-103.10000 31.37753, -103.08522 31.3...
3     POLYGON ((-103.13594 31.46406, -103.12207 31.4...
4     POLYGON ((-103.06452 31.51452, -103.05000 31.5...
                            ...
60    MULTIPOLYGON (((-111.50471 37.75000, -111.5151...
61    POLYGON ((-105.10897 35.45515, -105.10625 35.4...
62    MULTIPOLYGON (((-107.11831 36.35000, -107.1130...
63    POLYGON ((-65.00000 48.06236, -65.00000 24.600...
64    POLYGON ((-65.00000 48.06236, -65.00199 48.051...
Name: geometry, Length: 65, dtype: geometry

# MAPA OESTE

In [147]:
gdf_zonasW = gpd.read_file('Shapefiles\WUS_1PctIn1Yr_5Hz.shp')

In [148]:
gdf_zonasW.head()

  ValueRange                                           geometry
0    20 - 30  POLYGON ((-1662039.603 3115326.005, -1659795.4...
1    30 - 40  POLYGON ((-1821368.340 3277822.480, -1823606.9...
2    20 - 30  POLYGON ((-1727780.469 3394543.335, -1727247.2...
3    12 - 16  POLYGON ((-1861635.333 3477092.816, -1862862.4...
4    30 - 40  POLYGON ((-1937339.330 3488399.977, -1938269.8...

In [149]:
gdf_zonasW.ValueRange.unique()

array(['20 - 30', '30 - 40', '12 - 16', '8 - 12', '6 - 8', '60 - 80',
       '4 - 6', '> 80', '< 2', '40 - 60', '16 - 20', '2 - 4'],
      dtype=object)

In [150]:
gdf_zonasW.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ValueRange  73 non-null     object
 1   geometry    73 non-null     geometry
dtypes: geometry(1), object(1)
memory usage: 1.3+ KB

In [151]:
# Definir la proyección de destino (proyección geográfica en grados decimales)
crs_destino = 'EPSG:4326'  # WGS84, utilizado comúnmente en coordenadas geográficas

# Convertir el GeoDataFrame de zonas a la proyección de destino
gdf_zonasW = gdf_zonasW.to_crs(crs_destino)

# Verificar el nuevo formato de los polígonos
print(gdf_zonasW['geometry'])

0     POLYGON ((-112.03461 28.53461, -112.01204 28.5...
1     POLYGON ((-113.95503 29.70502, -113.97747 29.7...
2     POLYGON ((-113.23537 30.90000, -113.22420 30.8...
3     POLYGON ((-114.78820 31.38820, -114.80000 31.3...
4     POLYGON ((-115.59407 31.34407, -115.60000 31.3...
                            ...
68    MULTIPOLYGON (((-111.19531 39.04844, -111.1988...
69    MULTIPOLYGON (((-105.69219 38.15156, -105.6812...
70    POLYGON ((-116.78563 50.00000, -116.79933 49.9...
71    MULTIPOLYGON (((-124.78926 39.21074, -124.7870...
72    POLYGON ((-101.67384 29.44503, -101.67031 29.4...
Name: geometry, Length: 73, dtype: geometry

# Junto los dos geodataframes

In [152]:
# Unir dos GeoDataFrames
gdf_zonas= gdf_zonasCE.append(gdf_zonasW, ignore_index=True)

C:\Users\claud\AppData\Local\Temp\ipykernel_6168\3050802443.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  gdf_zonas= gdf_zonasCE.append(gdf_zonasW, ignore_index=True)

In [153]:
gdf_zonas.head()

  ValueRange                                           geometry
0    40 - 60  POLYGON ((-103.28787 31.11885, -103.30000 31.1...
1    30 - 40  POLYGON ((-103.15886 31.30000, -103.15537 31.2...
2    20 - 30  POLYGON ((-103.10000 31.37753, -103.08522 31.3...
3    16 - 20  POLYGON ((-103.13594 31.46406, -103.12207 31.4...
4    12 - 16  POLYGON ((-103.06452 31.51452, -103.05000 31.5...

In [154]:
gdf_zonas.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ValueRange  138 non-null    object
 1   geometry    138 non-null    geometry
dtypes: geometry(1), object(1)
memory usage: 2.3+ KB

# SISMOS

In [155]:
df = pd.read_csv('..\DASHBOARD\CSV_TRANSFORMADOS\Datos_USA.csv')

In [156]:
#Convierte las columnas de latitud y longitud en objetos de geometría de puntos utilizando la clase Point de la biblioteca shapely.
geometry = [Point(xy) for xy in zip(df['Longitud'], df['Latitud'])]
#Crea un GeoDataFrame a partir del DataFrame original y las geometrías de puntos.
gdf_sismos = gpd.GeoDataFrame(df, geometry=geometry)
#Utiliza el método to_file del GeoDataFrame para exportar el archivo Shapefile.
output_shapefile = 'sismos_eeuu.shp'  # Nombre del archivo Shapefile de salida
gdf_sismos.to_file(output_shapefile, driver='ESRI Shapefile')

C:\Users\claud\AppData\Local\Temp\ipykernel_6168\2662450449.py:7: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf_sismos.to_file(output_shapefile, driver='ESRI Shapefile')

In [157]:
df.head()

,id,Magnitud,primer reg,Ult reg,properties.felt,cdi,mmi,Posivilidad tsunami,Importancia del evento,net,ids,nst,Dist Horizontal epicentro,Brecha azimutal,estado,Longitud,Latitud,Profundidad
0,us6000kbl9,2.50,2023-05-13 00:22:34.350,2023-05-13 01:02:32.040,NaN,NaN,NaN,0,96,us,",us6000kbl9,",10.0,0.46000,119.00,Kansas,-99.499500,39.235400,3.69
1,nn00859459,2.80,2023-05-12 22:29:14.464,2023-05-12 23:43:48.040,NaN,NaN,NaN,0,121,nn,",us6000kbkj,nn00859459,",14.0,0.22000,64.37,Nevada,-118.914500,38.402200,11.50
2,nc73887311,2.91,2023-05-12 20:57:31.130,2023-05-12 23:55:14.063,NaN,NaN,NaN,0,130,nc,",nc73887311,us6000kbjl,",24.0,0.10920,182.00,CA,-121.261330,35.747665,3.66
3,nc73887306,2.90,2023-05-12 20:57:24.320,2023-05-12 23:54:10.059,NaN,NaN,NaN,0,129,nc,",nc73887306,",12.0,0.10120,180.00,CA,-121.248833,35.747501,4.59
4,ci40223751,2.77,2023-05-12 17:30:47.620,2023-05-12 23:47:37.500,NaN,NaN,NaN,0,118,ci,",ci40223751,us6000kbhy,",94.0,0.07689,20.00,CA,-116.735167,33.979167,17.35

In [158]:
gdf_sismos.head()

,id,Magnitud,primer reg,Ult reg,properties.felt,cdi,mmi,Posivilidad tsunami,Importancia del evento,net,ids,nst,Dist Horizontal epicentro,Brecha azimutal,estado,Longitud,Latitud,Profundidad,geometry
0,us6000kbl9,2.50,2023-05-13 00:22:34.350,2023-05-13 01:02:32.040,NaN,NaN,NaN,0,96,us,",us6000kbl9,",10.0,0.46000,119.00,Kansas,-99.499500,39.235400,3.69,POINT (-99.49950 39.23540)
1,nn00859459,2.80,2023-05-12 22:29:14.464,2023-05-12 23:43:48.040,NaN,NaN,NaN,0,121,nn,",us6000kbkj,nn00859459,",14.0,0.22000,64.37,Nevada,-118.914500,38.402200,11.50,POINT (-118.91450 38.40220)
2,nc73887311,2.91,2023-05-12 20:57:31.130,2023-05-12 23:55:14.063,NaN,NaN,NaN,0,130,nc,",nc73887311,us6000kbjl,",24.0,0.10920,182.00,CA,-121.261330,35.747665,3.66,POINT (-121.26133 35.74767)
3,nc73887306,2.90,2023-05-12 20:57:24.320,2023-05-12 23:54:10.059,NaN,NaN,NaN,0,129,nc,",nc73887306,",12.0,0.10120,180.00,CA,-121.248833,35.747501,4.59,POINT (-121.24883 35.74750)
4,ci40223751,2.77,2023-05-12 17:30:47.620,2023-05-12 23:47:37.500,NaN,NaN,NaN,0,118,ci,",ci40223751,us6000kbhy,",94.0,0.07689,20.00,CA,-116.735167,33.979167,17.35,POINT (-116.73517 33.97917)

In [159]:
gdf_sismos.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         20000 non-null  object
 1   Magnitud                   20000 non-null  float64
 2   primer reg                 20000 non-null  object
 3   Ult reg                    20000 non-null  object
 4   properties.felt            9863 non-null   float64
 5   cdi                        9863 non-null   float64
 6   mmi                        2764 non-null   float64
 7   Posivilidad tsunami        20000 non-null  int64
 8   Importancia del evento     20000 non-null  int64
 9   net                        20000 non-null  object
 10  ids                        20000 non-null  object
 11  nst                        14409 non-null  float64
 12  Dist Horizontal epicentro  19108 non-null  float64
 13  Brecha azimutal            19982 non-null  float64
 14  estado                     19611 non-null  object
 15  Longitud                   20000 non-null  float64
 16  Latitud                    20000 non-null  float64
 17  Profundidad                20000 non-null  float64
 18  geometry                   20000 non-null  geometry
dtypes: float64(10), geometry(1), int64(2), object(6)
memory usage: 2.9+ MB

# Idea  
Con poligono.contains(punto), polygon y points genero una columna con el RangeValue del geodataframe de las zonas correspondientes

In [160]:
# Verifica el CRS de los GeoDataFrames
print(gdf_sismos.crs)
print(gdf_zonas.crs)

None
EPSG:4326

El resultado indica que el GeoDataFrame de los sismos (gdf_sismos) no tiene definido un sistema de referencia espacial (CRS), mientras que el GeoDataFrame de las zonas de riesgo (gdf_zonas) tiene un CRS definido.

In [161]:
# Asigna el CRS al GeoDataFrame de los sismos
gdf_sismos.set_crs(gdf_zonas.crs, inplace=True)

print(gdf_sismos.crs)
print(gdf_zonas.crs)

EPSG:4326
EPSG:4326

In [162]:
# Establece la columna de geometría en el GeoDataFrame de los sismos
gdf_sismos.set_geometry('geometry', inplace=True)

# Realiza la unión espacial
gdf_sismos_con_zonas = gpd.sjoin(gdf_sismos, gdf_zonas, how='left')

In [163]:
gdf_sismos_con_zonas.head()

,id,Magnitud,primer reg,Ult reg,properties.felt,cdi,mmi,Posivilidad tsunami,Importancia del evento,net,...,nst,Dist Horizontal epicentro,Brecha azimutal,estado,Longitud,Latitud,Profundidad,geometry,index_right,ValueRange
0,us6000kbl9,2.50,2023-05-13 00:22:34.350,2023-05-13 01:02:32.040,NaN,NaN,NaN,0,96,us,...,10.0,0.46000,119.00,Kansas,-99.499500,39.235400,3.69,POINT (-99.49950 39.23540),49,6 - 8
1,nn00859459,2.80,2023-05-12 22:29:14.464,2023-05-12 23:43:48.040,NaN,NaN,NaN,0,121,nn,...,14.0,0.22000,64.37,Nevada,-118.914500,38.402200,11.50,POINT (-118.91450 38.40220),106,20 - 30
2,nc73887311,2.91,2023-05-12 20:57:31.130,2023-05-12 23:55:14.063,NaN,NaN,NaN,0,130,nc,...,24.0,0.10920,182.00,CA,-121.261330,35.747665,3.66,POINT (-121.26133 35.74767),111,20 - 30
3,nc73887306,2.90,2023-05-12 20:57:24.320,2023-05-12 23:54:10.059,NaN,NaN,NaN,0,129,nc,...,12.0,0.10120,180.00,CA,-121.248833,35.747501,4.59,POINT (-121.24883 35.74750),111,20 - 30
4,ci40223751,2.77,2023-05-12 17:30:47.620,2023-05-12 23:47:37.500,NaN,NaN,NaN,0,118,ci,...,94.0,0.07689,20.00,CA,-116.735167,33.979167,17.35,POINT (-116.73517 33.97917),80,40 - 60

In [164]:
gdf_sismos_con_zonas.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 20000 entries, 0 to 19999
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         20000 non-null  object
 1   Magnitud                   20000 non-null  float64
 2   primer reg                 20000 non-null  object
 3   Ult reg                    20000 non-null  object
 4   properties.felt            9863 non-null   float64
 5   cdi                        9863 non-null   float64
 6   mmi                        2764 non-null   float64
 7   Posivilidad tsunami        20000 non-null  int64
 8   Importancia del evento     20000 non-null  int64
 9   net                        20000 non-null  object
 10  ids                        20000 non-null  object
 11  nst                        14409 non-null  float64
 12  Dist Horizontal epicentro  19108 non-null  float64
 13  Brecha azimutal            19982 non-null  float64
 14  estado                     19611 non-null  object
 15  Longitud                   20000 non-null  float64
 16  Latitud                    20000 non-null  float64
 17  Profundidad                20000 non-null  float64
 18  geometry                   20000 non-null  geometry
 19  index_right                20000 non-null  int64
 20  ValueRange                 20000 non-null  object
dtypes: float64(10), geometry(1), int64(3), object(7)
memory usage: 3.4+ MB

In [174]:
# Guardar el GeoDataFrame como CSV
gdf_sismos_con_zonas.to_csv('Sismos_usa_ML.csv', index=False)

In [178]:
# Guardar el GeoDataFrame como CSV
gdf_sismos_con_zonas.to_file("Sismos_usa_ML.json", driver="GeoJSON")