In [2]:
import requests
import json
import pandas as pd 
import requests  
import numpy as np
import os

# Japan
- Earthquake Research Institute, University of Tokyo https://www.eri.u-tokyo.ac.jp/
- - Para fines distintos de la investigación académica Por favor, póngase en contacto con cada centro u observatorio para más detalles. Sin embargo, comercial No se pueden utilizar objetivos.
- Geological Survey of Japan - GSJ https://www.gsj.jp/en/
- Japan Meteorological Agency - JMA https://www.jma.go.jp/jma/indexe.html
- Meteorological Research Institute - Japan Meteorological Agency (JMA) http://www.mri-jma.go.jp/index_en.html
- National Research Institute for Earth Science and Disaster Prevention (NIED), Japan http://www.bosai.go.jp/
- Kyoshin Network (K-NET) - strong motion http://www.kyoshin.bosai.go.jp/
- F-Net - broadband http://www.fnet.bosai.go.jp/
- Hi-Net - short period http://www.hinet.bosai.go.jp/
- Earthquake Prediction Research Center http://wwweprc.eri.u-tokyo.ac.jp/
- Geospatial Information Authority of Japan (GSI) https://www.gsi.go.jp/ENGLISH/
- Japan Marine Science and Technology Center http://www.jamstec.go.jp/
- International Institute of Seismology and Earthquake Engineering - IISEE https://iisee.kenken.go.jp/
- Coordinating Committee for Earthquake Prediction, Japan https://cais.gsi.go.jp/YOCHIREN/index.e.html
- Disaster Prevention Research Institute, Kyoto University http://www.dpri.kyoto-u.ac.jp/en/
- Research Center for Earthquake Prediction https://www.rcep.dpri.kyoto-u.ac.jp/#ja
- Sakurajima Volcano Research Center http://www.svo.dpri.kyoto-u.ac.jp/default_e.html

In [17]:
url= 'https://www.jma.go.jp/bosai/quake/data/list.json'

response =requests.get(url)
data=response.json()
df_japon= pd.DataFrame(data)

In [22]:
folder_path = "../DASHBOARD/CSV_ORIGINAL/"
file_name = "raw_Japon.csv"
file_path = os.path.join(folder_path, file_name)

df_japon.to_csv(file_path, index=False)

In [23]:
df_japon

,ctt,eid,rdt,ttl,ift,ser,at,anm,acd,cod,mag,maxi,int,json,en_ttl,en_anm
0,20230519134605,20230519115704,2023-05-19T13:46:00+09:00,遠地地震に関する情報,発表,2,2023-05-19T11:57:00+09:00,南太平洋,950,-23.2+170.7/,7.7,,[],20230519134605_20230519115704_VXSE5e_2.json,Distant Earthquake Information,South Pacific Ocean
1,20230519133118,20230519132815,2023-05-19T13:31:00+09:00,震源・震度情報,発表,1,2023-05-19T13:28:00+09:00,トカラ列島近海,798,+29.9+130.1-10000/,2.1,1,"[{'code': '46', 'maxi': '1', 'city': [{'code':...",20230519133118_20230519132815_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of Tokara Islands
2,20230519123001,20230519115704,2023-05-19T12:30:00+09:00,遠地地震に関する情報,発表,1,2023-05-19T11:57:00+09:00,南太平洋,950,-23.2+170.7/,7.7,,[],20230519123001_20230519115704_VXSE5e_1.json,Distant Earthquake Information,South Pacific Ocean
3,20230519070017,20230519065636,2023-05-19T07:00:00+09:00,震源・震度情報,発表,1,2023-05-19T06:56:00+09:00,豊後水道,681,+33.2+132.2-50000/,4.4,4,"[{'code': '38', 'maxi': '4', 'city': [{'code':...",20230519070017_20230519065636_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Bungosuido Strait
4,20230519065916,20230519065636,2023-05-19T06:59:00+09:00,震源に関する情報,発表,0,2023-05-19T06:56:00+09:00,豊後水道,681,+33.2+132.2-50000/,4.4,,[],20230519065916_20230519065636_VXSE52_0.json,Earthquake Information,Bungosuido Strait
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,20230420123640,20230420123316,2023-04-20T12:36:00+09:00,震源・震度情報,発表,1,2023-04-20T12:33:00+09:00,石川県能登地方,390,+37.5+137.3-10000/,3.3,3,"[{'code': '17', 'maxi': '3', 'city': [{'code':...",20230420123640_20230420123316_VXSE5k_1.json,Earthquake and Seismic Intensity Information,"Noto, Ishikawa Prefecture"
342,20230420123552,20230420123316,2023-04-20T12:35:00+09:00,震源に関する情報,発表,0,2023-04-20T12:33:00+09:00,石川県能登地方,390,+37.5+137.3-10000/,3.3,,[],20230420123552_20230420123316_VXSE52_0.json,Earthquake Information,"Noto, Ishikawa Prefecture"
343,20230420123452,20230420123316,2023-04-20T12:34:00+09:00,震度速報,発表,0,2023-04-20T12:33:00+09:00,,,,,3,"[{'code': '17', 'maxi': '3', 'city': []}]",20230420123452_20230420123316_VXSE51_0.json,Seismic Intensity Information,
344,20230420094616,20230420094226,2023-04-20T09:46:00+09:00,震源・震度情報,発表,1,2023-04-20T09:42:00+09:00,父島近海,911,+26.9+141.5+0/,4.4,1,"[{'code': '13', 'maxi': '1', 'city': [{'code':...",20230420094616_20230420094226_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of​ Chichijima Island
345,20230420022632,20230420022326,2023-04-20T02:26:00+09:00,震源・震度情報,発表,1,2023-04-20T02:23:00+09:00,紀伊水道,674,+34.0+135.1-10000/,2.8,1,"[{'code': '30', 'maxi': '1', 'city': [{'code':...",20230420022632_20230420022326_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Kiisuido Strait

In [25]:
df_japon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ctt     346 non-null    object
 1   eid     346 non-null    object
 2   rdt     346 non-null    object
 3   ttl     346 non-null    object
 4   ift     346 non-null    object
 5   ser     346 non-null    object
 6   at      346 non-null    object
 7   anm     346 non-null    object
 8   acd     346 non-null    object
 9   cod     346 non-null    object
 10  mag     346 non-null    object
 11  maxi    346 non-null    object
 12  int     346 non-null    object
 13  json    346 non-null    object
 14  en_ttl  346 non-null    object
 15  en_anm  346 non-null    object
dtypes: object(16)
memory usage: 43.4+ KB

In [26]:
df_japon.isnull().sum()

ctt       0
eid       0
rdt       0
ttl       0
ift       0
ser       0
at        0
anm       0
acd       0
cod       0
mag       0
maxi      0
int       0
json      0
en_ttl    0
en_anm    0
dtype: int64

Cambio el formato de la fecha de la informacion del sismo: rdt

In [24]:
#Columna rdt
# Convertir la columna 'fecha' a un objeto datetime
df_japon['rdt'] = pd.to_datetime(df_japon['rdt'])

# Eliminar la zona horaria de la columna 'fecha'
df_japon['rdt'] = df_japon['rdt'].dt.tz_localize(None)

# Convertir la columna 'fecha' de vuelta a un formato de cadena si es necesario
df_japon['rdt'] = df_japon['rdt'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [27]:
#Columna at 
df_japon['at'] = pd.to_datetime(df_japon['at'])

# Eliminar la zona horaria de la columna 'fecha'
df_japon['at'] = df_japon['at'].dt.tz_localize(None)

# Convertir la columna 'fecha' de vuelta a un formato de cadena si es necesario
df_japon['at'] = df_japon['at'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [28]:
df_japon

,ctt,eid,rdt,ttl,ift,ser,at,anm,acd,cod,mag,maxi,int,json,en_ttl,en_anm
0,20230519134605,20230519115704,2023-05-19 13:46:00,遠地地震に関する情報,発表,2,2023-05-19 11:57:00,南太平洋,950,-23.2+170.7/,7.7,,[],20230519134605_20230519115704_VXSE5e_2.json,Distant Earthquake Information,South Pacific Ocean
1,20230519133118,20230519132815,2023-05-19 13:31:00,震源・震度情報,発表,1,2023-05-19 13:28:00,トカラ列島近海,798,+29.9+130.1-10000/,2.1,1,"[{'code': '46', 'maxi': '1', 'city': [{'code':...",20230519133118_20230519132815_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of Tokara Islands
2,20230519123001,20230519115704,2023-05-19 12:30:00,遠地地震に関する情報,発表,1,2023-05-19 11:57:00,南太平洋,950,-23.2+170.7/,7.7,,[],20230519123001_20230519115704_VXSE5e_1.json,Distant Earthquake Information,South Pacific Ocean
3,20230519070017,20230519065636,2023-05-19 07:00:00,震源・震度情報,発表,1,2023-05-19 06:56:00,豊後水道,681,+33.2+132.2-50000/,4.4,4,"[{'code': '38', 'maxi': '4', 'city': [{'code':...",20230519070017_20230519065636_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Bungosuido Strait
4,20230519065916,20230519065636,2023-05-19 06:59:00,震源に関する情報,発表,0,2023-05-19 06:56:00,豊後水道,681,+33.2+132.2-50000/,4.4,,[],20230519065916_20230519065636_VXSE52_0.json,Earthquake Information,Bungosuido Strait
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,20230420123640,20230420123316,2023-04-20 12:36:00,震源・震度情報,発表,1,2023-04-20 12:33:00,石川県能登地方,390,+37.5+137.3-10000/,3.3,3,"[{'code': '17', 'maxi': '3', 'city': [{'code':...",20230420123640_20230420123316_VXSE5k_1.json,Earthquake and Seismic Intensity Information,"Noto, Ishikawa Prefecture"
342,20230420123552,20230420123316,2023-04-20 12:35:00,震源に関する情報,発表,0,2023-04-20 12:33:00,石川県能登地方,390,+37.5+137.3-10000/,3.3,,[],20230420123552_20230420123316_VXSE52_0.json,Earthquake Information,"Noto, Ishikawa Prefecture"
343,20230420123452,20230420123316,2023-04-20 12:34:00,震度速報,発表,0,2023-04-20 12:33:00,,,,,3,"[{'code': '17', 'maxi': '3', 'city': []}]",20230420123452_20230420123316_VXSE51_0.json,Seismic Intensity Information,
344,20230420094616,20230420094226,2023-04-20 09:46:00,震源・震度情報,発表,1,2023-04-20 09:42:00,父島近海,911,+26.9+141.5+0/,4.4,1,"[{'code': '13', 'maxi': '1', 'city': [{'code':...",20230420094616_20230420094226_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Adjacent Sea of​ Chichijima Island
345,20230420022632,20230420022326,2023-04-20 02:26:00,震源・震度情報,発表,1,2023-04-20 02:23:00,紀伊水道,674,+34.0+135.1-10000/,2.8,1,"[{'code': '30', 'maxi': '1', 'city': [{'code':...",20230420022632_20230420022326_VXSE5k_1.json,Earthquake and Seismic Intensity Information,Kiisuido Strait

Dropeo columnas que no voy a utilizar

In [29]:
df_japon.columns

Index(['ctt', 'eid', 'rdt', 'ttl', 'ift', 'ser', 'at', 'anm', 'acd', 'cod',
       'mag', 'maxi', 'int', 'json', 'en_ttl', 'en_anm'],
      dtype='object')

In [30]:
df_japon.drop(columns=['ctt','ift', 'eid', 'ser','ttl', 'at', 'anm', 'acd','json','int', 'en_ttl', 'en_anm'], inplace=True)

Cambio de nombre a las columnas

In [31]:
df_japon = df_japon.rename(columns={"rdt": "time",
                                    "eid": "id",
                                    "maxi": "intensidad_max",
                                    "en_ttl": "title",
                                    "en_anm": "nombre_area_epicentral"})

Extraigo latitud y longitud de cod

In [33]:
df_japon['cod'] = df_japon['cod'].str.replace('/$', '')

C:\Users\Hernan\AppData\Local\Temp\ipykernel_2280\2703035785.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_japon['cod'] = df_japon['cod'].str.replace('/$', '')

In [34]:
df_japon['cod']

0            -23.2+170.7
1      +29.9+130.1-10000
2            -23.2+170.7
3      +33.2+132.2-50000
4      +33.2+132.2-50000
             ...
341    +37.5+137.3-10000
342    +37.5+137.3-10000
343
344        +26.9+141.5+0
345    +34.0+135.1-10000
Name: cod, Length: 346, dtype: object

In [35]:
# Crear tres columnas nuevas usando extract()
df_japon[['latitud', 'longitud', 'profundidad']] = df_japon['cod'].str.extract(r'([\+\-]\d+\.\d+)([\+\-]\d+\.\d+)([\+\-]\d+)')

In [36]:
df_japon[['latitud', 'longitud', 'profundidad']].isnull().sum()

latitud        40
longitud       40
profundidad    40
dtype: int64

In [37]:
df_japon.drop(columns='cod', inplace=True)

In [38]:
df_japon

                    time  mag intensidad_max latitud longitud profundidad
0    2023-05-19 13:46:00  7.7                    NaN      NaN         NaN
1    2023-05-19 13:31:00  2.1              1   +29.9   +130.1      -10000
2    2023-05-19 12:30:00  7.7                    NaN      NaN         NaN
3    2023-05-19 07:00:00  4.4              4   +33.2   +132.2      -50000
4    2023-05-19 06:59:00  4.4                  +33.2   +132.2      -50000
..                   ...  ...            ...     ...      ...         ...
341  2023-04-20 12:36:00  3.3              3   +37.5   +137.3      -10000
342  2023-04-20 12:35:00  3.3                  +37.5   +137.3      -10000
343  2023-04-20 12:34:00                   3     NaN      NaN         NaN
344  2023-04-20 09:46:00  4.4              1   +26.9   +141.5          +0
345  2023-04-20 02:26:00  2.8              1   +34.0   +135.1      -10000

[346 rows x 6 columns]

In [39]:
df_japon.dropna(inplace=True)

In [40]:
df_japon[['latitud', 'longitud', 'profundidad']] = df_japon[['latitud', 'longitud', 'profundidad']].applymap(lambda x: x[1:] if isinstance(x, str) else x)

In [41]:
df_japon[['latitud', 'longitud', 'profundidad']].isnull().sum()

latitud        0
longitud       0
profundidad    0
dtype: int64

In [42]:
df_japon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306 entries, 1 to 345
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   time            306 non-null    object
 1   mag             306 non-null    object
 2   intensidad_max  306 non-null    object
 3   latitud         306 non-null    object
 4   longitud        306 non-null    object
 5   profundidad     306 non-null    object
dtypes: object(6)
memory usage: 16.7+ KB

In [43]:
df_japon[['latitud', 'longitud']] = df_japon[['latitud', 'longitud']].astype(float)
df_japon['profundidad'] = df_japon['profundidad'].astype(int)
df_japon['mag'] = df_japon['mag'].astype(float)

In [44]:
df_japon['intensidad_max'].replace('',0,inplace=True)
diccionario_valores = {'1': '1', '2': '2', '3': '3', '4': '4', '5-': '5', '5+': '5', '6+': '6'}
df_japon['intensidad_max'] = df_japon['intensidad_max'].replace(diccionario_valores)

In [45]:
df_japon['intensidad_max'].unique()

array(['1', '4', 0, '3', '2', '5', '6'], dtype=object)

In [46]:
df_japon['intensidad_max'] = df_japon['intensidad_max'].fillna(0).astype(int)

In [47]:
df_japon.head(2)

                  time  mag  intensidad_max  latitud  longitud  profundidad
1  2023-05-19 13:31:00  2.1               1     29.9     130.1        10000
3  2023-05-19 07:00:00  4.4               4     33.2     132.2        50000

In [48]:
df_japon['profundidad'] = df_japon['profundidad'] // 1000

In [49]:
df_japon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306 entries, 1 to 345
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   time            306 non-null    object
 1   mag             306 non-null    float64
 2   intensidad_max  306 non-null    int32
 3   latitud         306 non-null    float64
 4   longitud        306 non-null    float64
 5   profundidad     306 non-null    int32
dtypes: float64(3), int32(2), object(1)
memory usage: 14.3+ KB

In [50]:
df_japon.isnull().sum()

time              0
mag               0
intensidad_max    0
latitud           0
longitud          0
profundidad       0
dtype: int64

In [52]:
folder_path = "../DASHBOARD/CSV_TRANSFORMADOS"
file_name = "Datos_japon_0.csv"
file_path = os.path.join(folder_path, file_name)
df_japon.to_csv(file_path, index=False)

In [61]:
url= 'https://www.jma.go.jp/bosai/quake/data/list.json'
folder_path_CSV = "../DASHBOARD/CSV_TRANSFORMADOS"
file_name_CSV_CE   = "Datos_japon_0.csv"

def get_japon_quake_data(url, folder_path,file_name):
    try:
        response = requests.get(url)
        data = response.json()
        df_japon = pd.DataFrame(data)

        # Transformaciones en el DataFrame
        df_japon['rdt'] = pd.to_datetime(df_japon['rdt'])
        
        df_japon['rdt'] = df_japon['rdt'].dt.tz_localize(None)
        
        df_japon['rdt'] = df_japon['rdt'].dt.strftime('%Y-%m-%d %H:%M:%S')
        
        df_japon['at'] = pd.to_datetime(df_japon['at'])
        
        df_japon['at'] = df_japon['at'].dt.tz_localize(None)
        
        df_japon['at'] = df_japon['at'].dt.strftime('%Y-%m-%d %H:%M:%S')
        
        df_japon.drop(columns=['ctt','ift', 'eid', 'ser','ttl', 'at', 'anm', 'acd','json','int', 'en_ttl', 'en_anm'], inplace=True)
        
        df_japon = df_japon.rename(columns={"rdt": "time",
                                    "eid": "id",
                                    "maxi": "intensidad_max",
                                    "en_ttl": "title",
                                    "en_anm": "nombre_area_epicentral"})        
        
        df_japon['cod'] = df_japon['cod'].str.replace('/$', '')        
        df_japon[['latitud', 'longitud', 'profundidad']] = df_japon['cod'].str.extract(r'([\+\-]\d+\.\d+)([\+\-]\d+\.\d+)([\+\-]\d+)')            
        df_japon.drop(columns='cod', inplace=True)        
        df_japon.dropna(inplace=True)        
        df_japon[['latitud', 'longitud', 'profundidad']] = df_japon[['latitud', 'longitud', 'profundidad']].applymap(lambda x: x[1:] if isinstance(x, str) else x)        
        df_japon[['latitud', 'longitud']] = df_japon[['latitud', 'longitud']].astype(float)        
        df_japon['profundidad'] = df_japon['profundidad'].astype(int)
        
        df_japon['mag'] = df_japon['mag'].astype(float)
        
        df_japon['intensidad_max'].replace('',0,inplace=True)        
        diccionario_valores = {'1': '1', '2': '2', '3': '3', '4': '4', '5-': '5', '5+': '5', '6+': '6'}        
        df_japon['intensidad_max'] = df_japon['intensidad_max'].replace(diccionario_valores)
        df_japon['intensidad_max'] = df_japon['intensidad_max'].fillna(0).astype(int)
        
        df_japon['profundidad'] = df_japon['profundidad'] // 1000
        
        file_path = os.path.join(folder_path, file_name)
        
        df_japon.to_csv(file_path, index=False)
        
        return df_japon
        
    except requests.exceptions.RequestException as e:
        print('Error al obtener los datos:', e)
        return None

In [62]:
get_japon_quake_data(url, folder_path,file_name)

C:\Users\Hernan\AppData\Local\Temp\ipykernel_2280\2088286017.py:28: FutureWarning: The default value of regex will change from True to False in a future version.
  df_japon['cod'] = df_japon['cod'].str.replace('/$', '')

                    time  mag  intensidad_max  latitud  longitud  profundidad
1    2023-05-19 13:31:00  2.1               1     29.9     130.1           10
3    2023-05-19 07:00:00  4.4               4     33.2     132.2           50
4    2023-05-19 06:59:00  4.4               0     33.2     132.2           50
7    2023-05-19 05:35:00  2.3               1     34.9     135.5           10
8    2023-05-19 04:09:00  3.3               1     35.7     141.0           20
..                   ...  ...             ...      ...       ...          ...
340  2023-04-21 03:10:00  2.5               1     35.0     135.5           10
341  2023-04-20 12:36:00  3.3               3     37.5     137.3           10
342  2023-04-20 12:35:00  3.3               0     37.5     137.3           10
344  2023-04-20 09:46:00  4.4               1     26.9     141.5            0
345  2023-04-20 02:26:00  2.8               1     34.0     135.1           10

[306 rows x 6 columns]

In [63]:
url= 'https://www.jma.go.jp/bosai/quake/data/list.json'
folder_path_json_CE = "../JSON/CON_ETL"
file_name_json = "japan_data_0.json"

def get_japan_quake_data(url,folder_path_json_CE,file_name_json):
    try:
        # Hacer una solicitud HTTP a la URL definida y convertir la respuesta en un objeto JSON de Python
        response = requests.get(url)
        data = response.json()

        # Convertir el objeto JSON en un marco de datos de Pandas
        df_japan = pd.DataFrame(data)

        # Limpieza de datos
        df_japan['rdt'] = pd.to_datetime(df_japan['rdt']).dt.tz_localize(None).dt.strftime('%Y-%m-%d %H:%M:%S')
        
        df_japan['at'] = pd.to_datetime(df_japan['at']).dt.tz_localize(None).dt.strftime('%Y-%m-%d %H:%M:%S')
        
        df_japan.drop(columns=['ctt','ift', 'eid', 'ser','ttl', 'at', 'anm', 'acd','json','int', 'en_ttl', 'en_anm'], inplace=True)
        
        df_japan = df_japan.rename(columns={"rdt" : "time",
                                            "eid" : "id",
                                            "maxi" : "intensidad_max",
                                            "en_ttl" : "title",
                                            "en_anm" : "nombre_area_epicentral"})
        
        df_japan['cod'] = df_japan['cod'].str.replace('/$', '')
        df_japan[['latitud', 'longitud', 'profundidad']] = df_japan['cod'].str.extract(r'([\+\-]\d+\.\d+)([\+\-]\d+\.\d+)([\+\-]\d+)')
        df_japan.drop(columns='cod', inplace=True)
        df_japan.dropna(inplace=True)
        
        df_japan[['latitud', 'longitud', 'profundidad']] = df_japan[['latitud', 'longitud', 'profundidad']].applymap(lambda x: x[1:] if isinstance(x, str) else x)
        df_japan[['latitud', 'longitud']] = df_japan[['latitud', 'longitud']].astype(float)
        df_japan['profundidad'] = df_japan['profundidad'].astype(int)
        df_japan['mag'] = df_japan['mag'].astype(float)
        df_japan['intensidad_max'].replace('',0,inplace=True)
        diccionario_valores = {'1': '1', '2': '2', '3': '3', '4': '4', '5-': '5', '5+': '5', '6+': '6'}
        df_japan['intensidad_max'] = df_japan['intensidad_max'].replace(diccionario_valores)
        df_japan['intensidad_max'] = df_japan['intensidad_max'].fillna(0).astype(int)
        df_japan['profundidad'] = df_japan['profundidad'] // 1000

        # Guardar el resultado en un archivo JSON
        
        file_path = os.path.join(folder_path, file_name)
        
        
        df_japan.to_json(file_path, orient='records')

        # Devolver el marco de datos resultante
        return True
    except requests.exceptions.RequestException as e:
        print(f"Error al hacer la solicitud HTTP: {e}")
    except ValueError as e:
        print(f"Error al decodificar el objeto JSON: {e}")
    except Exception as e:
        print(f"Error desconocido: {e}")

In [64]:
get_japan_quake_data(url)

C:\Users\Hernan\AppData\Local\Temp\ipykernel_2280\2303551695.py:23: FutureWarning: The default value of regex will change from True to False in a future version.
  df_japan['cod'] = df_japan['cod'].str.replace('/$', '')

True

### ETL CON INFORMACION TOMADA DE USGS

In [1]:
import pandas as pd
import requests
import json 
import folium 
import os
from datetime import datetime, timedelta

In [2]:
def sismo(url):
    # Establecer el tiempo de inicio desde hoy menos 20000 eventos
    endtime = datetime.today().strftime('%Y-%m-%dT%H:%M:%S')
    starttime = (datetime.today() - timedelta(days=20000)).strftime('%Y-%m-%dT%H:%M:%S')

    # Establecer los demás parámetros de solicitud
    params = {"format": "geojson", "starttime": starttime, "endtime": endtime, "minmagnitude": 2.5,
            "minlatitude": 24.40, "maxlatitude": 45, "minlongitude": 122.93, "maxlongitude": 153.99, "limit": 20000}    
    data = requests.get(url, params = params)
    data = json.loads(data.text)
    return data

url = r"https://earthquake.usgs.gov/fdsnws/event/1/query?"
dic_sismo = sismo(url)
count=0
for i in (dic_sismo["features"]):
    if i["properties"]['cdi']:
        count += 1
# Convertir los datos a un dataframe
df_sismo = pd.json_normalize(dic_sismo['features'])

In [57]:
#df_sismo = pd.read_csv('../DASHBOARD/CSV_TRANSFORMADOS/Datos_Japon.csv',  sep=',',  encoding='utf-8')

In [4]:
df_sismo.head(1)

,type,id,properties.mag,properties.place,properties.time,properties.updated,properties.tz,properties.url,properties.detail,properties.felt,...,properties.types,properties.nst,properties.dmin,properties.rms,properties.gap,properties.magType,properties.type,properties.title,geometry.type,geometry.coordinates
0,Feature,us6000kc9j,4.7,"149 km S of Shimoda, Japan",1684238199459,1684252532040,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,...,",origin,phase-data,",72.0,0.577,0.43,62.0,mb,earthquake,"M 4.7 - 149 km S of Shimoda, Japan",Point,"[139.1833, 33.3478, 10]"

In [5]:
df_sismo.drop(columns=['type','properties.alert','properties.tz','properties.code','properties.url','properties.detail','properties.net'
                       ,'properties.status','properties.types','properties.sources','properties.magType','properties.type','geometry.type',
                       'properties.title'], axis=1, inplace=True)

In [6]:
df_sismo.columns

Index(['id', 'properties.mag', 'properties.place', 'properties.time',
       'properties.updated', 'properties.felt', 'properties.cdi',
       'properties.mmi', 'properties.tsunami', 'properties.sig',
       'properties.ids', 'properties.nst', 'properties.dmin', 'properties.rms',
       'properties.gap', 'geometry.coordinates'],
      dtype='object')

In [7]:
df_sismo['Pais'] = df_sismo['properties.place'].str.split(',').str[1].str.strip()

df_sismo['properties.place'] = df_sismo['properties.place'].str.split(',', expand=True)[0]
df_sismo.head(1)

,id,properties.mag,properties.place,properties.time,properties.updated,properties.felt,properties.cdi,properties.mmi,properties.tsunami,properties.sig,properties.ids,properties.nst,properties.dmin,properties.rms,properties.gap,geometry.coordinates,Pais
0,us6000kc9j,4.7,149 km S of Shimoda,1684238199459,1684252532040,NaN,NaN,NaN,0,340,",us6000kc9j,",72.0,0.577,0.43,62.0,"[139.1833, 33.3478, 10]",Japan

In [8]:
df_sismo["properties.time"] = pd.to_datetime(df_sismo["properties.time"], unit="ms") 
df_sismo["properties.updated"] = pd.to_datetime(df_sismo["properties.updated"], unit="ms")

In [9]:
#Divido la columna geometry coordinates
df_sismo[['Longitud', 'Latitud', 'Profundidad']] = df_sismo['geometry.coordinates'].apply(lambda x: pd.Series(str(x).strip('[]').split(',')))

In [10]:
df_sismo["Longitud"] = df_sismo["Longitud"].astype(float) 
df_sismo["Latitud"] = df_sismo["Latitud"].astype(float) 
df_sismo["Profundidad"] = df_sismo["Profundidad"].astype(float)

In [11]:
df_sismo.head(1)

,id,properties.mag,properties.place,properties.time,properties.updated,properties.felt,properties.cdi,properties.mmi,properties.tsunami,properties.sig,properties.ids,properties.nst,properties.dmin,properties.rms,properties.gap,geometry.coordinates,Pais,Longitud,Latitud,Profundidad
0,us6000kc9j,4.7,149 km S of Shimoda,2023-05-16 11:56:39.459,2023-05-16 15:55:32.040,NaN,NaN,NaN,0,340,",us6000kc9j,",72.0,0.577,0.43,62.0,"[139.1833, 33.3478, 10]",Japan,139.1833,33.3478,10.0

In [12]:
df_sismo.drop("geometry.coordinates", axis=1, inplace=True)

In [14]:
df_sismo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20000 non-null  object
 1   properties.mag      20000 non-null  float64
 2   properties.place    19909 non-null  object
 3   properties.time     20000 non-null  datetime64[ns]
 4   properties.updated  20000 non-null  datetime64[ns]
 5   properties.felt     3482 non-null   float64
 6   properties.cdi      3482 non-null   float64
 7   properties.mmi      551 non-null    float64
 8   properties.tsunami  20000 non-null  int64
 9   properties.sig      20000 non-null  int64
 10  properties.ids      20000 non-null  object
 11  properties.nst      10700 non-null  float64
 12  properties.dmin     10548 non-null  float64
 13  properties.rms      19945 non-null  float64
 14  properties.gap      19996 non-null  float64
 15  Pais                19828 non-null  object
 16  Longitud            20000 non-null  float64
 17  Latitud             20000 non-null  float64
 18  Profundidad         20000 non-null  float64
dtypes: datetime64[ns](2), float64(11), int64(2), object(4)
memory usage: 2.9+ MB

In [15]:
df_sismo = df_sismo.rename(columns={'properties.mag':      'Magnituud',   
                                    'properties.place':    'Place',
                                    'properties.time':     'Fecha',  
                                    'properties.updated':  'Ultimo registro', 
                                    'properties.felt':     'Felt',
                                    'properties.cdi':      'cdi',
                                    'properties.mmi':      'mmi', 
                                    'properties.tsunami':  'Posibilidad tsunami',
                                    'properties.sig':      'Importancia del evento',
                                    'properties.ids':      'Ids',
                                    'properties.nst':      'nst',
                                    'properties.dmin':     'Distancia Horizontal Epicentro',
                                    'properties.rms':      'RMS',
                                    'properties.gap':      'Brecha Azimutal'})
df_sismo.head(1)

,id,Magnituud,Place,Fecha,Ultimo registro,Felt,cdi,mmi,Posibilidad tsunami,Importancia del evento,Ids,nst,Distancia Horizontal Epicentro,RMS,Brecha Azimutal,Pais,Longitud,Latitud,Profundidad
0,us6000kc9j,4.7,149 km S of Shimoda,2023-05-16 11:56:39.459,2023-05-16 15:55:32.040,NaN,NaN,NaN,0,340,",us6000kc9j,",72.0,0.577,0.43,62.0,Japan,139.1833,33.3478,10.0

In [16]:
df_sismo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20000 non-null  object
 1   Magnituud                       20000 non-null  float64
 2   Place                           19909 non-null  object
 3   Fecha                           20000 non-null  datetime64[ns]
 4   Ultimo registro                 20000 non-null  datetime64[ns]
 5   Felt                            3482 non-null   float64
 6   cdi                             3482 non-null   float64
 7   mmi                             551 non-null    float64
 8   Posibilidad tsunami             20000 non-null  int64
 9   Importancia del evento          20000 non-null  int64
 10  Ids                             20000 non-null  object
 11  nst                             10700 non-null  float64
 12  Distancia Horizontal Epicentro  10548 non-null  float64
 13  RMS                             19945 non-null  float64
 14  Brecha Azimutal                 19996 non-null  float64
 15  Pais                            19828 non-null  object
 16  Longitud                        20000 non-null  float64
 17  Latitud                         20000 non-null  float64
 18  Profundidad                     20000 non-null  float64
dtypes: datetime64[ns](2), float64(11), int64(2), object(4)
memory usage: 2.9+ MB

In [66]:
#folder_path = "../DASHBOARD/CSV_TRANSFORMADOS"
#file_name = "Datos_Japon.csv"
#file_path = os.path.join(folder_path, file_name)
#
#df_sismo.to_csv(file_path, index=False)